@import url(navbar.css);

.header__current__db {
    display: flex;
    align-items: center;
    border: 1px solid #ebedf0;
    padding: 0 12px;
    border-radius: 40px;
    margin-left: 15px;
    font-size: 13px;
    cursor: pointer;
    height: 30px;
    margin-right: 10px;
}
.header__branch__name{
    font-family: MISA fonts Bold ;
    margin-left: 10px;
}

.icon__header__current__db{
    width: 8px;
    height: 8px;
    background-color: #4ea344;
    border-radius: 50%;
    border: 1px solid #fff;
}

@media (max-width: 900px){
    .header__current__db__name {
    max-width: 0;
    padding-left: 0;
}
}

@media (max-width: 1300px){
    .header__current__db__name {
    max-width: 80px;
}
}

@media (max-width: 1366px){
    .header__current__db__name {
    max-width: 80px;
}
}

@media (max-width: 1440px){
    .header__current__db__name {
    max-width: 150px;
}
}

.header__current__db__name {
    padding-left: 7px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .2s ease;
    color: #111;
}

.header__icon {
    margin: 0 10px;
}
.mi__three__stripes {
    background-position: -843px -30px;
}

.header__branch {
    width: 100%;
    max-width: calc(100% - 100px) ;
    cursor: pointer;
    justify-items: space-between;
}

.tooltip__content{
    width: 100%;
}

.header__branch__icon{
    transform: rotate(90deg);
    margin-left: 10px;
}
.mi__chevron__right{
    background-position: -80px -360px;
}
.mi__notify{
    margin: 1px 5px;
    background-position: -788px -30px;;
}
