@import url(mainDialog.css);
.dialog__model{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(16, 1, 1, 0.523);
}

.dialog__content{
    position: relative;

    cursor: grab;
    min-width: 855px;
    max-width: 855px;
    width: 855px;
    height: 625px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;

}

.header__popup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px;
    position: relative;
 }

 .ms__popup__title{
    width: 100%;
    padding: 20px 32px;
    padding-right: 12px;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
 }
 .ms__popup__title .header__title{
    width: 100%;
    padding-right: 12px;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
 }
 .ms__popup__title .header__title .title{
    font-size: 24px;
    color: #111;
    font-weight: 700;
 }

 .ms__popup__title .header__title .option{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    font-size: 13px;
}

.ms__popup__title .header__title .option input {
    width: 16px;
    height: 32px;
    z-index: 200;
    cursor: pointer;
    margin-right: 10px;
    
 }
  
 .header__popup .header__btn{
    display: flex;
    padding: 12px;
 }

 .btn__help{
    margin-right: 6px;
    background-position: -89px -144px;

 }
 .btn__closepp{
    background-position: -144px -144px;
}


.btnclose{
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-size: 20px 20px;
    border: none;

}
.btnclose i{
    font-size: 30px;
    cursor: pointer;
}
.main__popup{
    display: flex;
    justify-content: space-between;
    flex-grow: 7;

}


.button__popup{
    margin-top: 30px;
    flex-grow: 4;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}
.button__popup .btn__save {
    margin-right: 12px;

}
.button__popup .btn__save .contine{
    margin: 10px 24px 10px 16px;

}

.button__popup .btn__save .contine:focus{
    background-color: #019160 ;
}


.button__popup .btn__huy{
    padding-left: 10px;
    margin-left: 24px;
}


