.combobox__dl{
    position: relative;
    width: 100%;
}

.comboboxdl{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    position: relative;
    z-index: 10000;

}
.comboboxdl__input{
    border: 1px solid #babec5;
    position: relative;
    top: 0;
    left: 0;
    height: 33.5px;
    width: 100%;
    border-radius: 4px ;
    padding-right: 56px;
    padding-left: 16px;
    box-sizing: border-box;

}
.comboboxdl__input:focus{
    border: 1px solid #019160;

}
.comboboxdl__button{
    cursor: pointer;
    border: 0px solid #019160;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    border-radius: 4px;
    width: 32px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    backdrop-filter: none;
    transition: all 0.5s ease;

}

.comboboxdl__button__up{
    transition: all 0.5s ease;
    transform: rotate(180deg);

}
.comboboxdl__data{
    z-index: 1000;
    position: absolute;
    top: 100%;
    left: 0px;
    border-radius: 4px;
    width: 100%;      
}

.droptabledata{
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border: 1px solid #019160;
    border-bottom:none ;
    overflow: auto;
    height: 100px;

}

.selecter{

    background-color: #019160 ;
    color: #fff;
}
.droptabledata thead {
    min-width: 392px;
    height: 32px;
    color: #000;
}
#codePs{

    width: 100px;
    padding: 0 10px;
     text-align: left;
    border: none;

}
#namePs{
    border: none;
    width: 250px;
    padding: 0 10px;
    text-align: left;
}

.droptabledata tbody{    
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px 1px;
    max-height: 300px;
}

.droptabledata tbody tr {    
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
}
.droptabledata tbody tr td{
    width: 100px;
    text-align: left;
    padding: 0 10px;
}
.droptabledata tbody tr:hover td{
    background-color: #ebedf0;
    color: #35bf22;
}
.foter__DataTable{
    cursor: pointer;
    background-color: #ebedf0;
    color: #35bf22;
    align-items: center;
    border: 1px solid #019160;
    border-top:none ;
}
.foter__DataTable .btn__edip{
    background-color: #ebedf0;
    background-position: -2762px -402px;
    width: 32px;
    height: 32px;
}
.foter__DataTable  .title__edip{
    background-color: #ebedf0;

}

.slect__combobox{
    background-color: #ebedf0;
    font-weight: 700;
    color: #019160;

}


