.icon{
    background-image: url(../../../assets/img/Sprites.64af8f61.svg);
    cursor: pointer;
}
.icon__14{
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
}
.icon__24{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}

.icon__48{
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
}